<section>
    <ngm-masonry [options]="options" [useImagesLoaded]="false">
        <div ngmMasonryItem *ngFor="let item of items; let i = index" class="item">
            <div class="item-content">
                <ng-container *ngIf="item.isDynamic; else static">
                    <dynamic></dynamic>
                </ng-container>
                <ng-template #static>
                    <img class="image" [attr.src]="item.src" />
                </ng-template>
            </div>
        </div>
    </ngm-masonry>
</section>
